<div class="container-fluid mt-3">
    <form class="example-form" (ngSubmit)="city()">
        <mat-form-field class="example-full-width" appearance="legacy">
            <input type="text" placeholder="Selecione uma cidade" matInput [formControl]="searchFormControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="city()">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>