.my-background {
    min-height: 220px;
    background-size: cover;
    background-position: center;
    // border-radius: 25px;
}

.my-background-1 {
    background-image: url("assets/images/image1.jpg");
}

.my-font-border {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.card > .my-background {
    position: relative;
    top: 0;
    &:hover {
        top: -4px;
        box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
        transition: all 0.2s ease-in-out;
    }
}

fa-icon {
    font-size: 1.3rem;
}
